<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="default.db" value="xgcap" />
  </appSettings>
  <connectionStrings>
    <add name="xgcap" connectionString="Data Source=192.168.2.167/ORCL;User Id=xgcap;Password=Admin2018;enlist=dynamic" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
</configuration>